<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Draggable directions</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
#panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
}

/**
 * Provide the following styles for both ID and class, where ID represents an
 * actual existing "panel" with JS bound to its name, and the class is just
 * non-map content that may already have a different ID with JS bound to its
 * name.
 */

#panel, .panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#panel select, #panel input, .panel select, .panel input {
  font-size: 15px;
}

#panel select, .panel select {
  width: 100%;
}

#panel i, .panel i {
  font-size: 12px;
}

      .panel {
        height: 100%;
        overflow: auto;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <div id="saved" hidden></div>
    <div id="bottomBox" style="position: absolute; background-color: yellow;">
        <button id="saveButton" type="button">Save Ride</button>
        <button id="loadButton" type="button">Load Ride</button>
        <p>Total Distance: <span id="total"></span></p>
    </div>
    <script>
var startLocation;
var endLocation;

var markers = [];

function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: {lat: 37.530, lng:-122.112} // Bae Area
  });
    
  var waypoints = [];
    
  var geocoder = new google.maps.Geocoder;
  var infowindow = new google.maps.InfoWindow;
    
  var bottomBox = document.getElementById('bottomBox');
  map.controls[google.maps.ControlPosition.BOTTOM_CENTER].push(bottomBox);
  
  var directionsService = new google.maps.DirectionsService;
  var directionsDisplay = new google.maps.DirectionsRenderer({
    draggable: true,
    map: map,
  });
  
  directionsDisplay.addListener('directions_changed', function() {
    computeTotalDistance(directionsDisplay.getDirections());
  });
    
  google.maps.event.addListener(map, "rightclick", function(event) {
    var lat = event.latLng.lat();
    var lng = event.latLng.lng();
    
    if (startLocation == null) {
        startLocation = new google.maps.LatLng(lat, lng);
        console.log("Start: " +lat + ", " + lng);
        
        geocoder.geocode({'location': startLocation}, function(results, status) {
        if (status === google.maps.GeocoderStatus.OK) {
          if (results[1]) {
            markers.push(new google.maps.Marker({
              position: startLocation,
              map: map
            }));
            
            infowindow.setContent(results[1].formatted_address);
            infowindow.open(map, markers[0]);
          } else {
            window.alert('No results found');
          }
        } else {
          window.alert('Geocoder failed due to: ' + status);
        }
        });
    } else if (endLocation == null) {
        deleteMarkers();
        endLocation = new google.maps.LatLng(lat, lng);
        console.log("End: " + lat + ", " + lng);
        
        displayRoute(startLocation, endLocation, directionsService, directionsDisplay, waypoints);
        
    } else {
        waypoints.push({location: endLocation});
        endLocation = new google.maps.LatLng(lat, lng);
        
        displayRoute(startLocation, endLocation, directionsService, directionsDisplay, waypoints);
    }
  });
    
  document.getElementById("saveButton").addEventListener("click", function() {
      saveRide(directionsDisplay, waypoints);
  });
    
  document.getElementById("loadButton").addEventListener("click", function() {
      var os = JSON.parse(document.getElementById("saved").innerHTML);
      directionsDisplay.setMap(null);
      directionsDisplay = new google.maps.DirectionsRenderer({
        draggable: true,
        map: map,
    //    panel: document.getElementById('directionsPanel')
      });
      loadRide(directionsService, directionsDisplay, os);
  });
}

function displayRoute(origin, destination, service, display, waypoints) {
  service.route({
    origin: origin,
    destination: destination,
    waypoints: waypoints,
    travelMode: google.maps.TravelMode.DRIVING,
    avoidTolls: true
  }, function(response, status) {
    if (status === google.maps.DirectionsStatus.OK) {
      display.setDirections(response);
    } else {
      alert('Could not display directions due to: ' + status);
    }
  });
}

function computeTotalDistance(result) {
  var total = 0;
  var myroute = result.routes[0];
  for (var i = 0; i < myroute.legs.length; i++) {
    total += myroute.legs[i].distance.value;
  }
  total = total / 1000;
  document.getElementById('total').innerHTML = total + ' km';
}
        
function deleteMarkers() {
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(null);
  }
  markers = [];
}
        
function saveRide(directionsDisplay, waypoints) {
  var legs = directionsDisplay.directions.routes[0].legs;
  var data = {};
  data.start = {'lat': legs[0].start_location.lat(), 'lng':legs[0].start_location.lng()}
  data.end = {'lat': legs[legs.length-1].end_location.lat(), 'lng':legs[legs.length-1].end_location.lng()}
  
  var totalWP = [];
  for (var i=0; i < legs.length; i++) {

      // Don't store the origin
      if (i != 0) {
      totalWP.push([legs[i].start_location.lat(), legs[i].start_location.lng()]);
      }
      
      var legWP = legs[i].via_waypoints;
      for (var j=0; j < legWP.length; j++) {
          totalWP.push([legWP[j].lat(), legWP[j].lng()]);
      }
      
      // Don't store the destintation
      if ( i != legs.length - 1) {
          totalWP.push([legs[i].end_location.lat(), legs[i].end_location.lng()]);
      }
  }

  data.waypoints = totalWP;
  var str = JSON.stringify(data)
  
  document.getElementById("saved").innerHTML = str;
}
        
function loadRide(directionsService, directionsDisplay, os) {
//    var wp = [];
    var adjustedWaypoints = [];
    for(var i=0;i<os.waypoints.length;i++) {
        adjustedWaypoints[i] = {'location': new google.maps.LatLng(os.waypoints[i][0], os.waypoints[i][1]),'stopover':false }
    }
    
    displayRoute(os.start, os.end, directionsService, directionsDisplay, adjustedWaypoints);
}

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"
        async defer></script>
  </body>
</html>