extends layout

block additional_nav_items
  form.navbar-form.navbar-right
    .form-group
      label(for="from") From
      input.form-control(type="text", name="from", id="from")
    .form-group
      label(for="to") To
      input.form-control(type="text", name="to", id="to")
    button.btn.btn-primary#submitRoute(type="submit") Submit

block content
  .container#hypercontainer
    h1 Map
    #hypermap
    h1 Preview
    #hyperlapse

block extra_scripts
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places")
  script(src="/javascripts/GSVPano.min.js")
  script(src="/javascripts/three.min.js")
  script(src="/javascripts/hyperlapse.min.js")
  script.
    var hyperlapse;
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();

    function getLoc(next) {
      var geoSuccess = function(position) {
        initialLoc = position;
        next();
      }

      // initial loc
      navigator.geolocation.getCurrentPosition(geoSuccess);
    }
    
    function initialize() {
      var from_autocomplete = new google.maps.places.Autocomplete(
        document.getElementById('from'), 
        { types: ['(cities)'], }
      );

      var to_autocomplete = new google.maps.places.Autocomplete(
        document.getElementById('to'), 
        { types: ['(cities)'], }
      );

      // map
      map = new google.maps.Map(document.getElementById('hypermap'), {
        zoom: 10,
        center: new google.maps.LatLng(initialLoc.coords.latitude, initialLoc.coords.longitude),
      });

      // directions
      directionsDisplay = new google.maps.DirectionsRenderer();
      directionsDisplay.setMap(map);

      hyperlapse = new Hyperlapse(document.getElementById('hyperlapse'), {
        zoom: 1,
        elevation: 50,
        width: 593,
        height: 867,
      });

      hyperlapse.onError = function(e) {
        console.log(e);
      };

      hyperlapse.onRouteComplete = function(e) {
        hyperlapse.load();
      };

      hyperlapse.onLoadComplete = function(e) {
        hyperlapse.play();
      };
    }

    google.maps.event.addDomListener(window, 'load', getLoc(initialize));

    function calcRoute() {
      var start = document.getElementById('from').value;
      var end = document.getElementById('to').value;

      var request = {
        origin: start,
        destination: end,
        travelMode: google.maps.TravelMode.DRIVING
      };
      
      directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(response); 
          hyperlapse.generate( {route:response} );    
        }
      });
    }

    $('#submitRoute').click(function(event) {
      event.preventDefault();
      calcRoute();
    });