html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  background-color: #303030 !important;
}

#createForm label, #createForm input {
  font-size: 1.4em;
}

p {
  font-size: 1.2em;
}

.navbar {
  margin-bottom: 0 !important;
}

.navbar-form input, button {
  margin: 0 5px;
}

.ride-listing-anchor, .ride-listing-anchor:hover {
  text-decoration: none;
  color: #333;
}

.ride-listing-anchor:hover .thumbnail {
  border: 3px solid #333;
}

.ride-listing-header p {
  font-size: 1.4em;
}

.ride-listing {
  margin-top: 20px;
  padding: 20px !important;
}

.ride-listing h2 {
  margin: 0; padding: 0;
  margin-bottom: 5px;
}

.ride-listing .location p {
  margin: 0; padding: 0;
  margin-bottom: 2px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none !important;
}

#hypermap, #hyperlapse {
	width: 100%;
	min-height: 400px;
}

#hypercontainer {
	padding-bottom: 50px;
}

@media (min-width: 768px) {
  .container-narrow {
    max-width: 650px;
  }
}

@media (max-width: 767px) {
  #hyperlapse canvas {
    width: 100% !important;
  }
}

#createForm {
  padding: 20px 0;
}

#createForm h1 {
  color: white;
}

.padding-thumbnail {
  padding: 20px !important;
}


@-webkit-keyframes buffer1 {
  0% {
    -webkit-transform: scale( 0 );
  }
  50% {
    -webkit-transform: scale( 1 );
  }
}
@-webkit-keyframes buffer2 {
  0% {
    -webkit-transform: scale( 0 );
  }
  50% {
    -webkit-transform: scale( 0 );
  }
  100% {
    -webkit-transform: scale( 1 );
  }
}

.buffer {
  position: relative;
  width: 100px;
  height: 100px;
  padding: 20px;
}

.buffer > * {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 50%;
}

.buffer > *:nth-child(1) {
  background: #fff;
}
.buffer > *:nth-child(2) {
  -webkit-animation: buffer1 1s infinite;
}
.buffer > *:nth-child(3) {
  background: #fff;
  -webkit-animation: buffer2 1s infinite;
}

.ride-labels > * {
  margin-right: 3px;
}